<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html" />
<head>
  <title>Add User</title>
</head>
<body>
<py:choose test="len(username)">
<py:when test="0">
  <div class="page-title">Add User</div>
  <br/>
  <py:if test="need_group">
    <div>A <a href="/groups/admin">group</a> must exist before you can add a user.</div>
  </py:if>
  <py:if test="not need_group">
    <form method="POST" action="/account/add">
      <table border="0">
        <tr>
          <td>Email</td>
          <td><input type="email" name="email"></input></td>
        </tr>
        <tr>
          <td>User Name</td>
          <td><input type="username" name="username"></input></td>
        </tr>
        <tr>
          <td>Group</td>
          <td>
            <select name="group">
              <option py:for="group in groups" value="${group['id']}">${group['name']}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td></td>
      <td><input type="submit" name="submit" value="Add User"/></td>
        </tr>
      </table>
    </form>
  </py:if>
</py:when>
<py:otherwise>
  <div class="page-title">User Added</div>
  <div>
    User: ${username}<br />
    Password: ${password}<br />
  </div>
</py:otherwise>
</py:choose>
</body>
</html>
