<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html" />
<head>
  <title>Forgot Password</title>
</head>
<body>
  <div class="page-title">Forgot Password</div>
  <br/>

  <py:if test="reset_tried">
  <py:if test="reset_succeeded">
  Temporary password has been sent to ${email}. Use it
  to <a href="/account/login">login</a>.
  </py:if>
  <py:if test="not reset_succeeded">
  We couldn't find an account for ${email}.<br/><br/>
  </py:if>
  </py:if>

  <py:if test="not reset_tried or not reset_succeeded">
  Enter your email address. A new temporary password will be emailed
  to you.<br/>
  <form method="POST" action="/account/forgot">
    <table border="0">
    <tr>
      <td>Email</td>
      <td><input type="email" name="email"></input></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" name="submit" value="Reset Password"/></td>
    </tr>
    </table>
  </form>
  </py:if>

</body>
</html>
